<h1>New Contact Form Message</h1>

<div>
  <p><strong>From:</strong> <%= @name %> (<%= @email %>)</p>
  
  <div style="margin-top: 20px; padding: 15px; border: 1px solid #ddd; border-radius: 5px; background-color: #f9f9f9;">
    <p style="white-space: pre-wrap;"><%= @message %></p>
  </div>
</div>